*.log
.venv
.env
config.py
pyvenv.cfg
Pipfile
Pipfile.lock
debug/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode
.flake
.coverage
.ruff_cache
# venv directories
bin/
include/
lib/
lib64