# example docker compose file for netbox to zabbix sync
#

services:
  nbx-zbx-sync:
    container_name: netbox-zabbix-sync
    restart: no
    image: ghcr.io/thenetworkguy/netbox-zabbix-sync:main
    volumes:
      - ./config.py:/opt/netbox-zabbix/config.py
    environment:
      - ZABBIX_HOST=http://yourawesomezabbixserver.local:8080
      - ZABBIX_TOKEN=<zabbix_api_token>
      - NETBOX_HOST=http://yourawesomenetboxserver.local
      - NETBOX_TOKEN=<netbox_api_token>