# Image tags for the functional test stack.
#
# These are literal Docker tags, passed straight through to the compose file --
# there is no version-to-tag translation. Use any tag the projects publish:
#
#   https://hub.docker.com/r/netboxcommunity/netbox/tags
#   https://hub.docker.com/r/zabbix/zabbix-server-pgsql/tags
#
# NetBox tags look like  v4.6.5
# Zabbix tags look like  alpine-7.0-latest  /  alpine-7.4-latest  /  alpine-7.4.12
#
# The same Zabbix tag is used for both zabbix-server-pgsql and
# zabbix-web-nginx-pgsql, so it must exist for both images.

NETBOX_TAG=v4.6.5
ZABBIX_TAG=alpine-7.0-latest
